extends layout


block content
	h1  Welcome to Trinity Test Proxy
	a.index_item(href='/mansys') Management System
	a.index_item(href='/cache') Cached Pages 
	br
	br
	br
	div Copyright(yeah right) &copy; TrinityProxy #{+new Date().getFullYear()} 

