extends layout
<<<<<<< HEAD

block content
  h1= title
  p Welcome to #{title}
=======
block content
	h1  Welcome to Trinity Test Proxy
	a.index_item(href='/mansys') Management System
	br 
	a.index_item(href='/cache') Cached Pages 
	br
	br
	br
	div Copyright &copy; TrinityProxy #{+new Date().getFullYear()} 
>>>>>>> first
