extends layout

block config
  script
    $(document).ready(function(){
        $("#addr_but").click(function(){
            var url = $('#url').val();
            socket.emit("block address",url);
        });
        
        $("#ip_but").click(function(){
            var ip = $('#ip').val();
            socket.emit("block ip",ip);
        });
        $("#cache_but").click(function(){
            var cache_page = $('#cache').val();

            socket.emit("cache",cache_page);
        });

    });   


block content
    h1 Proxy Management System

    form
      p block based on URL
      | URL to Block:
      input#url(type='text')
      
      button#addr_but Block URL

    br
    form
      p block based on ip(not finished yet)
      | IP to Block:
      input#ip(type='text')    
      button#ip_but Block IP

    br
    form
      p add website to cache(not finished yet)
      | website url:
      input#cache(type='text')     
      button#cache_but Cache
