extends layout

block config
  script
    $(document).ready(function(){
        $("#addr_but").click(function(){
            var url = $('#url').val();
            socket.emit("block address",url);
        });
        
        $("#ip_but").click(function(){
            var ip = $('#ip').val();
            socket.emit("block ip",ip);
        });
        $("#phrase_but").click(function(){
            var phrase_text = $('#phrase').val();

            socket.emit("filter phrase",phrase_text);
        });

    });   


block content
    h1 Proxy Management System

    form
      p block based on URL
      | URL to Block:
      input#url(type='text')
      
      button#addr_but Block URL

    br
    form
      p block based on ip(not fully finished yet)
      | IP to Block:
      input#ip(type='text')    
      button#ip_but Block IP

    br
    form
      p add keyword phrase to filter(does not work properly)
      | phrase:
      input#phrase(type='text')     
      button#phrase_but Add
